src/CE/target/

src/benchmarks/targets/*/*_targets
src/benchmarks/targets/*/seed

src/benchmarks/binutils-2.33.1*
src/benchmarks/libxml2-v2.9.2*
src/benchmarks/lcms*
src/benchmarks/file*
src/benchmarks/vorbis*
src/benchmarks/curl*
src/benchmarks/woff*
src/benchmarks/libjpeg-turbo*
src/benchmarks/sqlite3*
src/benchmarks/tcpdump*
src/benchmarks/freetype*
src/benchmarks/libtiff*

todo.md